.rectangle-icon2 {
  position: absolute;
  top: -10px;
  left: 112px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.thank-you-for1 {
  position: absolute;
  top: 6px;
  left: 157px;
  line-height: 22px;
  display: inline-block;
  width: 222px;
  height: 21px;
}
.order-123rgr231567y-confirmed1 {
  position: absolute;
  top: 303px;
  left: 147px;
  line-height: 22px;
  color: var(--text1);
}
.track-order3 {
  position: relative;
  line-height: 22px;
}
.track-order2 {
  position: absolute;
  top: 372px;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--primary-colour);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-194xl-5);
  cursor: pointer;
  color: var(--background1);
}
.order-confirmation1 {
  position: absolute;
  top: 233px;
  left: calc(50% - 260px);
  width: 520px;
  height: 464px;
}
.bank-order-complete {
  width: 100%;
  position: relative;
  background-color: var(--whiite);
  border: 1px solid var(--whiite);
  box-sizing: border-box;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text);
  font-family: var(--font-cabinet-grotesk);
}
