.order-summary-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-500);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  width: 720px;
  height: 1024px;
}
.order-summary3 {
  width: 179px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  height: 48px;
  flex-shrink: 0;
}
.frame-child17 {
  width: 477px;
  position: relative;
  border-top: 1px solid var(--stroke);
  box-sizing: border-box;
  height: 1px;
}
.order-summary-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-child18 {
  width: 134px;
  position: relative;
  border-radius: var(--br-8xs);
  height: 92px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.land-verification1,
.ngn-2000001 {
  width: 197px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  height: 25px;
  flex-shrink: 0;
}
.ngn-2000001 {
  width: 90px;
}
.land-verification-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-100xl);
}
.bedroom-terraced-duplex23 {
  width: 272px;
  position: relative;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  height: 16px;
  flex-shrink: 0;
}
.bedroom-terraced-duplex-with-a-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.qty-11 {
  width: 51px;
  position: relative;
  line-height: 22px;
  color: var(--stroke);
  display: flex;
  align-items: center;
  height: 25px;
  flex-shrink: 0;
}
.frame-parent184 {
  padding: 0 var(--padding-5xs) 0 var(--padding-12xs);
  gap: var(--gap-25xl);
  color: var(--text);
}
.frame-parent182,
.frame-parent184,
.gift-or-discount-code-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent182 {
  gap: var(--gap-base);
}
.gift-or-discount-code-container {
  border-radius: var(--br-9xs);
  background-color: var(--background1);
  border: 1.5px solid var(--stroke);
  padding: var(--padding-sm) var(--padding-173xl) var(--padding-sm)
    var(--padding-base);
}
.apply-container,
.apply1 {
  display: flex;
  align-items: center;
}
.apply1 {
  width: 46px;
  position: relative;
  line-height: 22px;
  height: 20px;
  flex-shrink: 0;
}
.apply-container {
  border-radius: var(--br-9xs);
  background-color: var(--stroke);
  border: 1.5px solid var(--stroke);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-4xl);
  color: var(--background);
}
.line-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  color: var(--stroke);
}
.ngn2000001,
.subtotal1 {
  width: 70px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  height: 25px;
  flex-shrink: 0;
}
.ngn2000001 {
  width: 83px;
}
.subtotal-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-327xl);
}
.ngn20001 {
  width: 78px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  height: 25px;
  flex-shrink: 0;
}
.line-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.including-taxes1,
.total1 {
  width: 38px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  height: 22px;
  flex-shrink: 0;
}
.including-taxes1 {
  width: 166px;
  color: var(--stroke);
}
.total-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.ngn-2020001 {
  width: 127px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  height: 55px;
  flex-shrink: 0;
}
.frame-parent181,
.frame-parent187 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent187 {
  width: 506px;
  flex-direction: row;
  gap: var(--gap-231xl);
}
.frame-parent181 {
  position: absolute;
  top: 75px;
  left: 18px;
  flex-direction: column;
  padding: var(--padding-29xl);
  gap: var(--gap-17xl);
}
.order-summary2 {
  position: absolute;
  top: 0;
  left: 720px;
  width: 720px;
  height: 1024px;
}
.payment1,
.verify-claim1 {
  position: relative;
  flex-shrink: 0;
}
.verify-claim1 {
  width: 564px;
  line-height: 16px;
  text-transform: capitalize;
  display: inline-block;
  height: 34px;
}
.payment1 {
  width: 207px;
  line-height: 22px;
  display: flex;
  align-items: center;
  height: 48px;
}
.card-item,
.pay-with1 {
  position: relative;
  height: 15px;
}
.pay-with1 {
  width: 92px;
  line-height: 22px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.card-item {
  width: 15px;
}
.bank2,
.card6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.card6 {
  cursor: pointer;
}
.bank2 {
  color: var(--text1);
}
.card-group,
.pay-with-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-group {
  flex-direction: row;
  gap: var(--gap-lgi);
  color: var(--stroke);
}
.pay-with-group {
  flex-direction: column;
  gap: var(--gap-base);
}
.choose-your-bank {
  position: relative;
  line-height: 22px;
}
.chevron-down-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.choose-your-bank-parent,
.pay1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.choose-your-bank-parent {
  border-radius: var(--br-9xs);
  border: 1.5px solid var(--stroke);
  padding: var(--padding-2xs) var(--padding-base);
  gap: 282px;
}
.pay1 {
  width: 476px;
  border-radius: var(--br-21xl);
  background-color: var(--primary-colour);
  height: 44px;
  padding: var(--padding-xl) 196px;
  box-sizing: border-box;
}
.your-personal-data1 {
  width: 475px;
  position: relative;
  line-height: 22px;
  color: var(--stroke);
  display: inline-block;
}
.pay-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  color: var(--background);
}
.click-to-choose {
  gap: 221px;
  color: var(--stroke);
}
.click-to-choose,
.frame-parent188,
.verify-claim-your-land-today-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent188 {
  border-radius: var(--br-5xs);
  padding: var(--padding-29xl) var(--padding-29xl) var(--padding-29xl) 0;
  gap: var(--gap-17xl);
  font-size: var(--font-size-sm);
  color: var(--text1);
}
.verify-claim-your-land-today-parent {
  position: absolute;
  top: 120px;
  left: 79px;
  gap: var(--gap-5xl);
  font-size: var(--font-size-21xl);
  color: var(--primary-colour);
}
.bank-payment-flow {
  width: 100%;
  position: relative;
  background-color: var(--background1);
  border: 1px solid var(--whiite);
  box-sizing: border-box;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text1);
  font-family: var(--font-cabinet-grotesk);
}
