<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/ListingLandingPage.css" />
    <link rel="stylesheet" href="../static/css/index.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cabinet Grotesk:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<style>
  html{
    height: auto;
  }
  .row{
    display: flex;
    flex-direction: row;
  }
  .column{
    padding: 5%;
  }
  .bedroom-terraced-duplex{
    color: black;
  }
  .terraced-duplex-for{
    color: black;
    font-size: 30px;
  }
  #shared_location{
    margin-top: 5%;
  }
  #price{
    margin-top: 8%;
  }
  .amenities-container {
    background-color: #f4f4f4; /* Light gray background */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.amenities-line {
    margin: 0;
}

.amenities-line p {
    display: inline;
    font-family: Arial, sans-serif; /* Use a professional font */
    font-size: 14px; /* Adjust font size */
}

.amenities-line p:not(:last-child)::after {
    content: "•"; /* Add bullet point after each item except the last one */
    margin-right: 5px; /* Add space between bullet points and items */
}

.scroll-container {
  width: 100%;
  overflow-x: hidden; /* Hide the horizontal scrollbar */
}

.row-container {
  display: flex;
  flex-wrap: nowrap;
  animation: slide 40s linear infinite; /* Adjust the duration as needed */
}

@keyframes slide {
  0% {
    transform: translateX(0); /* Start from initial position */
  }
  100% {
    transform: translateX(-100%); /* Slide to the left */
  }
}

.cards1 {
  width: calc(50% - 10px);
  margin-right: 20px;
}

.cards1:last-child {
  margin-right: 0;
}
.frame-parent363 .frame-wrapper167{
  gap: 60px;
  padding-bottom:2%;
  height: 40rem;
}
/* #shortlet .frame-wrapper167{
  height: 40rem;
  padding-bottom:2%;

} */
</style>
<style>
 .bedroom-terraced-duplex {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5em; /* Adjust line height as needed */
    height: 2.5rem; /* This is line-height multiplied by the number of lines you want to display (4 lines) */
    margin-bottom: 20px; /* Ensure some space below the text for aesthetics */
    text-overflow: ellipsis;
}
.ngn-400000000 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px; /* Adjust the maximum width as needed */
    display: inline-block; /* Ensures the ellipsis works */
}
.icbaseline-favorite-wrapper, .component-8-icon {
    display: inline-block;
}

/* Bottom buttons */
.bedrooms-wrapper, .toilets-wrapper, .sq-ft-wrapper, .parking-space-wrapper {
    display: inline-block;
    padding: 8px;
    background-color: #eee;
    margin-right: 4px;
    border-radius: 4px;
    width: auto; /* Adjusts automatically to the content size */
}

/* Responsive Design */
@media (max-width: 768px) {
    .frame-parent3, .frame-parent4 {
        padding: 10px;
    }

    .loop-control, .mingcutetime-line-parent, .solaruser-outline-parent {
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 480px) {
    .frame-wrapper167 {
        margin: 10px;
    }
  }
  .frame-parent4{
    padding-left: 20px;
  }
 #property{
  height: 42rem;
 }
 #cards{
  width: 100%;
 }

 #heroh1, #heros {
  font-family: Cabinet Grotesk;
  font-size: 56px;
  font-weight: 400;
  line-height: 69.44px;
  text-align: left;
}

#herop{
  padding-left: 15%;
  line-height: 2rem;
  font-family: Cabinet Grotesk;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
}

/* Style the tab */
.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
img{
  width: 70%;
  padding: 5%;
  border-radius: 50px;
}

/* Mobile Styles */

/* Adjustments for smaller screens */
@media only screen and (max-width: 600px) {
  /* Update container width */
  .size-container {
    width: 100%;
  }
  
  /* Update image size */
  .max-h-auto {
    max-width: 100%;
    height: auto;
  }

  /* Update font sizes for better readability */
  .lands {
    font-size: 20px;
  }

  /* Adjust margins and paddings */
  .lands, .shared-apartments-parent {
    margin-left: 0%;
  }

  /* Make buttons full width */
  .bedrooms-wrapper, .toilets-wrapper, .sq-ft-wrapper, .parking-space-wrapper {
    width: 100%;
  }

  /* Center text */
  .bedrooms, .toilets, .sq-ft, .parking-space {
    text-align: center;
  }

  /* Adjust alignment of "Click to see more details" links */
  .click-to-see-more-details-parent {
    text-align: center;
    margin-left: 0;
  }

  /* Adjust width of card elements */
  .frame-parent416 {
    width: 100%;
  }

  /* Adjust margin for "Joint-Venture" section */
  .lands:last-child {
    margin-left: 0;
  }

  /* Adjust width of "Show more" buttons */
  .show-more1 {
    margin-left: 0;
    width: auto;
  }
  /* Base Styles */
/* Add your existing CSS here */

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  /* Adjustments for smaller screens */

  /* Make size containers flex and wrap */
  .size-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the left */
  }

  /* Make individual items within size-container stack vertically */
  .frame-parent363, .frame-parent416 {
    width: 100%; /* Full width on smaller screens */
  }

  /* Adjust margins and paddings */
  .lands, .shared-apartments-parent {
    margin-left: 0;
    width: 100%; /* Full width on smaller screens */
  }

  /* Make buttons full width */
  .bedrooms-wrapper, .toilets-wrapper, .sq-ft-wrapper, .parking-space-wrapper {
    width: 100%;
  }

  /* Center text */
  .bedrooms, .toilets, .sq-ft, .parking-space {
    text-align: center;
  }

  /* Adjust alignment of "Click to see more details" links */
  .click-to-see-more-details-parent {
    text-align: center;
    margin-left: 0;
  }

  /* Adjust width of "Show more" buttons */
  .show-more1 {
    margin-left: 0;
    width: auto;
  }
}
@media (max-width: 640px) {
  .filter {
    display: none;
  }
}


}

</style>
  </head>
  <body>
    {% include "dash_nav.html" %}

    <div class="listing-landing-page">
      <div class="frame-parent348">
        <div class="filter">
          <h3 style="font-family: Cabinet Grotesk;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
          ">Filter</h3>
          <form action="">
            <div>
              <label style="font-family: Cabinet Grotesk;
              font-size: 18px;
              font-weight: 500;
              line-height: 22px;
              letter-spacing: 0px;
              text-align: left;
              " for="HeadlineAct" class="block text-sm font-medium text-gray-900 mt-2"> Location </label>
            
              <select
                name="HeadlineAct"
                id="HeadlineAct"
                class="mt-1.5 w-full h-12 pl-3 rounded-lg border-gray-300 text-gray-700 sm:text-sm"
              >
                <option value="">Abuja</option>
                <option value="JM">John Mayer</option>
                <option value="SRV">Stevie Ray Vaughn</option>
                <option value="JH">Jimi Hendrix</option>
                <option value="BBK">B.B King</option>
                <option value="AK">Albert King</option>
                <option value="BG">Buddy Guy</option>
                <option value="EC">Eric Clapton</option>
              </select>
            </div>

            <label for="">Type of Place</label>
            <div class="row check">
              <div class="column">


<fieldset>
<legend class="sr-only">Checkboxes</legend>

<div class="space-y-2">
<label for="Option1" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option1" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> All </strong>
  </div>
</label>

<label for="Option2" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option2" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> Building </strong>
  </div>
</label>

<label for="Option3" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option3" />
  </div>

  <div>
    <strong class="font-medium text-gray-900">Apartment </strong>
  </div>
</label>
</div>
</fieldset>
              </div>
              <div class="column">
                <!--
Heads up! 👋

Plugins:
- @tailwindcss/forms
-->

<fieldset>
<legend class="sr-only">Checkboxes</legend>

<div class="space-y-2">
<label for="Option1" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option1" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> Office </strong>
  </div>
</label>

<label for="Option2" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option2" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> Shop </strong>
  </div>
</label>

<label for="Option3" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option3" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> House </strong>
  </div>
</label>
</div>
</fieldset>
              </div>
            </div>
           
<label for="minmax-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Min-max range</label>
<input id="minmax-range" type="range" min="0" max="10" value="5" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">

<h3>Size</h3>
<div class="row check">
<div class="column">
<div style="position: relative;">
  <input style="text-align: right; width: 80%;" placeholder="sq ft" type="text" id="inputField" name="inputField">
  <label for="inputField" style="position: absolute; padding-left: 6px; top: 15%; left: 0; width: 10%; ">Min</label>

</div>

</div>
<div class="column">
<div style="position: relative;">
  <input style="text-align: right; width: 80%; " placeholder="sq ft" type="text" id="inputField" name="inputField">
  <label for="inputField" style="position: absolute; padding-left: 6px; top: 15%; left: 0; width: 10%;">Max</label>

</div>

</div>
</div>
<label for="">Features</label>
            <div class="row check">
              <div class="column">


<fieldset>
<legend class="sr-only">Checkboxes</legend>

<div class="space-y-2">
<label for="Option1" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option1" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> Clubhouse </strong>
  </div>
</label>

<label for="Option2" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option2" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> Spa </strong>
  </div>
</label>

<label for="Option3" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option3" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> Pool </strong>
  </div>
</label>
<label for="Option3" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option3" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> Valet Parking </strong>
  </div>
</label>
</div>
</fieldset>
              </div>
              <div class="column">
                <!--
Heads up! 👋

Plugins:
- @tailwindcss/forms
-->

<fieldset>
<legend class="sr-only">Checkboxes</legend>

<div class="space-y-2">
<label for="Option1" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option1" />
  </div>

  <div>
    <strong class="font-medium text-gray-900">Ac & Heating</strong>
  </div>
</label>

<label for="Option2" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option2" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> Dishwasher </strong>
  </div>
</label>

<label for="Option3" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option3" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> Balcony </strong>
  </div>
</label>
<label for="Option3" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option3" />
  </div>

  <div>
    <strong class="font-medium text-gray-900">Fitness </strong>
  </div>
</label>
</div>
</fieldset>
              </div>
            </div>
            <label for="">Style</label>
            <div class="row check">
              <div class="column">


<fieldset>
<legend class="sr-only">Checkboxes</legend>

<div class="space-y-2">
<label for="Option1" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option1" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> A-Frame </strong>
  </div>
</label>

<label for="Option2" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option2" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> Cottage </strong>
  </div>
</label>


</div>
</fieldset>
              </div>
              <div class="column">
                <!--
Heads up! 👋

Plugins:
- @tailwindcss/forms
-->

<fieldset>
<legend class="sr-only">Checkboxes</legend>

<div class="space-y-2">
<label for="Option1" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option1" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> Dome </strong>
  </div>
</label>

<label for="Option2" class="flex cursor-pointer items-start gap-4">
  <div class="flex items-center">
    &#8203;
    <input type="checkbox" class="size-4 rounded border-gray-300" id="Option2" />
  </div>

  <div>
    <strong class="font-medium text-gray-900"> Spanish</strong>
  </div>
</label>


</div>
</fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="frame-parent361">

          <div class="size-container">
            <div class="lands-parent">
              <b class="lands">Lands</b>
              <div class="show-more" id="showMoreText">Show more</div>
            </div>
            <div class="frame-parent363">
              {% for property in approved_properties %}
              <div id="property" class="frame-wrapper167">
                <div class="frame-parent3">
                  <div class="frame-wrapper2">
                    <div class="frame-wrapper3">
                      {% if property.image_filenames %}
                      {% set image_files = property.image_filenames.split(',') %}
                      {% if image_files %}
                          {% set image_file = image_files[0] %}
                          <img class="max-h-auto w-full aspect-square rounded-md object-fill" src="{{ url_for('static', filename='uploads/' + image_file) }}" alt="Publication Image">
                      {% else %}
                          <p>No images available</p>
                      {% endif %}
                  {% else %}
                      <p>No images available</p>
                
                  
                      <button class="negotiable-wrapper">
                        <div class="negotiable">
                          {% if property.property_negotiation == 'Negotiable' %}
                    Negotiable
                {% else %}
                    Non-Negotiable
                {% endif %}
                        </div>
                      </button>
                      {% endif %}

                    </div>
                  </div>
                  <div class="frame-parent4">
                    <div class="terraced-duplex-for-sale-parent">
                      <h3 class="terraced-duplex-for" style="font-family: Cabinet Grotesk;
                      font-size: 24px;
                      font-weight: 700;
                      line-height: 29.76px;
                      text-align: left;
                      ">{{property.property_subtype}}</h3>
                      <div class="bedroom-terraced-duplex">
                        {{property.property_description}}
                      </div>
                      <div class="logic-branch">
                        <div class="value-processor">
                          <b class="ngn-400000000">&#8358;{{property.property_price}}</b>
                          <div class="output-divider">
                            <div class="loop-control-wrapper">
                              <div class="loop-control">
                                <img
                                  class="system-uiconslocation"
                                  alt=""
                                  src="../static/images2/systemuiconslocation.svg"
                                />
    
                                <div class="maitama-abuja">{{property.location}}</div>
                              </div>
                            </div>
                            <div class="output-divider-inner">
                              <div class="mingcutetime-line-parent">
                                <img
                                  class="mingcutetime-line-icon"
                                  alt=""
                                  src="../static/images2/mingcutetimeline.svg"
                                />
    
                                <div class="hours-ago">{{property.time_posted}}</div>
                              </div>
                            </div>
                            <div class="solaruser-outline-parent">
                              <img
                                class="solaruser-outline-icon"
                                alt=""
                                src="../static/images2/"
                              />
    
                              <div class="cadland-prop">{{property.user.firstname}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="logic-branch-inner">
                          <div class="frame-parent5">
                            <div class="icbaseline-favorite-wrapper">
                              <img
                                class="icbaseline-favorite-icon"
                                loading="lazy"
                                alt=""
                                src="../static/images2/icbaselinefavorite.svg"
                              />
                            </div>
                            <img
                              class="component-8-icon"
                              loading="lazy"
                              alt=""
                              src="../static/images2/component-8.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-parent6">
                      <button class="bedrooms-wrapper" style="border-radius: 0%;">
                        <div class="bedrooms" style="color: black; height: 1.2rem; text-align: center;  border-radius: 0%;">{{ property.property_num_rooms }} bed</div>
                      </button>
                      <button class="toilets-wrapper" style="border-radius: 0%;">
                        <div class="toilets" style="color: black; height: 1.2rem; text-align: center; width: 10%;">{{ property.property_num_toilets }} toilets</div>
                      </button>
                      <button class="sq-ft-wrapper" style="border-radius: 0%;">
                        <div class="sq-ft" style="color: black; height: 1.2rem; text-align: center; width: 10%;">{{ property.property_size_max  }} max sq. ft.</div>
                      </button>
                      <button class="parking-space-wrapper" style="border-radius: 0%;">
                        <div class="parking-space" style="color: black; height: 1.2rem; text-align: center; width: 10%;">{{ property.property_num_baths }} bathroom</div>
                      </button>
                    </div>
                    <div
                      class="click-to-see-more-details-parent"
                      id="frameContainer2"
                    >
                    <div class="click-to-see">
                      <a href="{{ url_for('property_details', property_id=property.id)}}">Click to see more details</a>
                      </div>
                                            <img
                        class="pajamaslong-arrow-icon"
                        alt=""
                        src="../static/images2/pajamaslongarrow.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}    
              
            </div>
          </div>
          <div class="size-container">
            <div class="terraces-and-duplex-parent">
              <b class="lands">Terraces and Duplex</b>
              <div class="show-more1">Show more</div>
            </div>
            <div id="shortlet" class="frame-parent363">
              {% for shortlet in approved_shortlets %}
              <div class="frame-wrapper167">
                <div class="frame-parent3">
                  <div class="frame-wrapper2">
                    <div class="frame-wrapper3">
                      {% if shortlet.image_filenames %}
                      {% set image_files = shortlet.image_filenames.split(',') %}
                      {% if image_files %}
                          {% set image_file = image_files[0] %}
                          <img class="max-h-auto w-full aspect-square rounded-md object-fill" src="{{ url_for('static', filename='uploads/' + image_file) }}" alt="Publication Image">
                      {% else %}
                          <p>No images available</p>
                      {% endif %}
                  {% else %}
                      <p>No images available</p>
                
                  
                      <button class="negotiable-wrapper">
                        <div class="negotiable">
                          {% if shortlet.shortlet_negotiation == 'Negotiable' %}
                    Negotiable
                {% else %}
                    Non-Negotiable
                {% endif %}
                        </div>
                      </button>
                      {% endif %}
                    </div>
                  </div>
                  <div class="frame-parent4">
                    <div class="terraced-duplex-for-sale-parent">
                      <h3 class="terraced-duplex-for">{{shortlet.shortlet_property_type}}</h3>
                      <div class="bedroom-terraced-duplex">
                        {{shortlet.shortlet_description}}
                      </div>
                      <div class="logic-branch">
                        <div class="value-processor">
                          <b class="ngn-400000000">&#8358;{{shortlet.shortlet_price}}</b>
                          <div class="output-divider">
                            <div class="loop-control-wrapper">
                              <div class="loop-control">
                                <img
                                  class="system-uiconslocation"
                                  alt=""
                                  src="../static/images2/systemuiconslocation.svg"
                                />
    
                                <div class="maitama-abuja">{{shortlet.location}}</div>
                              </div>
                            </div>
                            <div class="output-divider-inner">
                              <div class="mingcutetime-line-parent">
                                <img
                                  class="mingcutetime-line-icon"
                                  alt=""
                                  src="../static/images2/mingcutetimeline.svg"
                                />
    
                                <div class="hours-ago">{{shortlet.shortlet_time_posted}}</div>
                              </div>
                            </div>
                            <div class="solaruser-outline-parent">
                              <img
                                class="solaruser-outline-icon"
                                alt=""
                                src="../static/images2/"
                              />
    
                              <div class="cadland-prop">{{shortlet.user.firstname}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="logic-branch-inner">
                          <div class="frame-parent5">
                            <div class="icbaseline-favorite-wrapper">
                              <img
                                class="icbaseline-favorite-icon"
                                loading="lazy"
                                alt=""
                                src="../static/images2/icbaselinefavorite.svg"
                              />
                            </div>
                            <img
                              class="component-8-icon"
                              loading="lazy"
                              alt=""
                              src="../static/images2/component-8.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-parent6">
                      <button class="bedrooms-wrapper" style="border-radius: 0%;">
                        <div class="bedrooms" style="color: black; height: 1.2rem; text-align: center;  border-radius: 0%;">{{ shortlet.num_roms }} bed</div>
                      </button>
                      <button class="toilets-wrapper" style="border-radius: 0%;">
                        <div class="toilets" style="color: black; height: 1.2rem; text-align: center; width: 10%;">{{ shortlet.shortlet_num_toilets }} toilets</div>
                      </button>
                      <button class="sq-ft-wrapper" style="border-radius: 0%;">
                        <div class="sq-ft" style="color: black; height: 1.2rem; text-align: center; width: 10%;">{{ shortlet.parking_space  }} car</div>
                      </button>
                      <button class="parking-space-wrapper" style="border-radius: 0%;">
                        <div class="parking-space" style="color: black; height: 1.2rem; text-align: center; width: 10%;">{{ shortlet.shortlet_stay }} days</div>
                      </button>
                    </div>
                    <div
                      class="click-to-see-more-details-parent"
                      id="frameContainer2"
                    >
                    <a href="{{ url_for('shortlet_details', shortlet_id=shortlet.id)}}">Click to see more details</a>
                    <img
                        class="pajamaslong-arrow-icon"
                        alt=""
                        src="../static/images2/pajamaslongarrow.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
             
            </div>
          </div>
          <div class="frame-parent416">
            <div class="shared-apartments-parent">
              <b class="lands" style="text-align: start; margin-left: -0%; color: black;">Shared Apartments</b>
              <div class="show-more1">Show more</div>
            </div>
            <div class="scroll-container">
              <div class="row-container" id="cardRow">
                {% for shared in approved_shared %}
                <div id="cards" class="cards1">
                  <div id="cards" class="card-1">
                    <div class="hotels1"></div>
                    <div class="frame-parent417">
                      <div class="rectangle-parent30">
                        {% if shared.image_filenames %}
                        {% set image_files = shared.image_filenames.split(',') %}
                        <img class="max-h-auto w-52 aspect-square rounded-md object-fill" src="{{ url_for('static', filename='uploads/' + image_files[1]) }}" alt="Publication Image">
                        {% endif %}
                        <div class="sekarwangi">
                          <img class="sekarwangi-child" alt="" src="../static/image/group-1734.svg">
                          <br>
                        </div>
                        <div class="frame-child69"></div>
                        <div class="roommates1">
                          <p class="richard-and-gill">{{shared.shared_property_type}}</p>
                        </div>
                        <div class="richard-and-gill-container">
                          <p class="richard-and-gill">{{shared.location}}</p>
                        </div>
                        <b id="price" class="ngn2500000">Price : &#8358;{{shared.shared_price}} <span>/year</span></b>
                        <div class="wifi-air-container">
                          <p class="richard-and-gill">
                            <div class="amenities-container">
                              <p class="amenities-line">
                                {% for amenity in shared_instance.amenities.split(', ') %}
                                {{ amenity }}{% if not loop.last %} • {% endif %}
                                {% endfor %}
                              </p>
                            </div>
                          </p>
                        </div>
                        <img class="frame-child72" alt="" src="../static/image/group-2161.svg">
                        <div class="the-peoples-brownstone-container">
                          <p class="richard-and-gill">{{shared.shared_subtype}}</p>
                        </div>
                        <div class="abuja-lane-jabi-parent">
                          <img class="frame-child73" alt="" src="../static/image/group-2149.svg">
                        </div>
                        <div id="shared_location" class="abuja-lane-jabi">{{shared.location}}</div>
                        <a style="margin-left: 70%;" href="{{ url_for('shared_details', shared_id=shared.id)}}">Click to see more details</a>

                        <div class="popular"></div>
                        <div class="popular1"></div>


                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          
            
          </div>
          <div class="frame-parent416">
            <div class="shared-apartments-parent">
              <b class="lands" style="text-align: start; margin-left: -25%;">Shortlets Apartments</b>
              <div class="show-more1">Show more</div>
            </div>
            <div class="scroll-container">
              <div class="row-container" id="cardRow">
              {% for shortlet in approved_shortlets %}
  
              <div class="cards1">
                <div class="card-1">
                  <div class="hotels1"></div>
                  <div class="frame-parent417">
                    <div class="rectangle-parent30">
                      {% if shortlet.image_filenames %}
                      {% set image_files = shortlet.image_filenames.split(',') %}
                      <img class="max-h-auto w-52 aspect-square rounded-md object-fill" src="{{ url_for('static', filename='uploads/' + image_files[1]) }}" alt="Publication Image" >
                      {% endif %}
                      <div class="sekarwangi">
                       
                        <img
                          class="sekarwangi-child"
                          alt=""
                          src="../static/image/group-1734.svg"
                        />
                        <br>
                        
                       
                      </div>
                      
                      <div class="frame-child69"></div>
                      <div class="roommates1">
                        <p class="richard-and-gill">{{shortlet.shortlet_property_type}}</p>
                      </div>
                      <div class="richard-and-gill-container">
                        <p class="richard-and-gill">{{shortlet.location}}</p>
                      </div>
                      <b id="price" class="ngn2500000">Price :&#8358;{{shared.shared_price}} <span>/year</span></b>
  
                      
  
                      <div class="wifi-air-container">
                        <p class="richard-and-gill">
                          
                         <!-- Assume amenities is a string containing comma-separated amenities -->
  <div class="amenities-container">
    <p class="amenities-line">
        {% for amenity in shared_instance.amenities.split(', ') %}
            {{ amenity }}{% if not loop.last %} • {% endif %}
        {% endfor %}
    </p>
  </div>
  
                        
                          
                      
                                            </p>
                        <!-- <p class="richard-and-gill">
                          • Parking • Balcony • Animal friendly
                        </p> -->
                      </div>
                      <img
                        class="frame-child72"
                        alt=""
                        src="../static/image/group-2161.svg"
                      />
  
                      <div class="the-peoples-brownstone-container">
                        <p class="richard-and-gill">{{shortlet.shortlet_subtype}}</p>
                      </div>
                      <div class="abuja-lane-jabi-parent">
                        <img
                          class="frame-child73"
                          alt=""
                          src="../static/image/group-2149.svg"
                        />
  
                      </div>
                      <div id="shared_location" class="abuja-lane-jabi">{{shortlet.location}}</div>
                      <a style="margin-left: 70%;" href="{{ url_for('shortlet_details', shortlet_id=shortlet.id)}}">Click to see more details</a>

                      <div class="popular"></div>
                      <div class="popular1"></div>
                    </div>
                   
                  </div>
                </div>
               
              </div>
              {% endfor %}
              </div>
              </div>
          </div>
         
          
          <div id="frame-jva" class="frame-parent416">
            <div class="shared-apartments-parent">
              <b class="lands" style="text-align: start; margin-left: -23%; color: black;">Joint-Venture</b>
              <div class="show-more1">Show more</div>
            </div>
            <div class="scroll-container">
              <div class="row-container" id="cardRow">
              {% for jva in approved_jva %}
  
              <div class="cards1">
                <div class="card-1">
                  <div class="hotels1"></div>
                  <div class="frame-parent417">
                    <div class="rectangle-parent30">
                      {% if jva.image_filenames %}
                      {% set image_files = jva.image_filenames.split(',') %}
                      <img class="max-h-auto w-52 aspect-square rounded-md object-fill" src="{{ url_for('static', filename='uploads/' + image_files[1]) }}" alt="Publication Image" >
                      {% endif %}
                      <div class="sekarwangi">
                       
                        <img
                          class="sekarwangi-child"
                          alt=""
                          src="../static/image/group-1734.svg"
                        />
                        <br>
                        
                       
                      </div>
                      
                      <div class="frame-child69"></div>
                      <div class="roommates1">
                        <p class="richard-and-gill">{{jva.jva_property_type}}</p>
                      </div>
                      <div class="richard-and-gill-container">
                        <p class="richard-and-gill">{{jva.location}}</p>
                      </div>
                      <b id="price" class="ngn2500000">Price :&#8358;{{jva.jva_price}} <span>/year</span></b>
  
                      
  
                      <div class="wifi-air-container">
                        <p class="richard-and-gill">
                          
                         <!-- Assume amenities is a string containing comma-separated amenities -->
  <div class="amenities-container">
    <p class="amenities-line">
        {% for amenity in shared_instance.amenities.split(', ') %}
            {{ amenity }}{% if not loop.last %} • {% endif %}
        {% endfor %}
    </p>
  </div>
  
                        
                          
                      
                                            </p>
                        <!-- <p class="richard-and-gill">
                          • Parking • Balcony • Animal friendly
                        </p> -->
                      </div>
                      <img
                        class="frame-child72"
                        alt=""
                        src="../static/image/group-2161.svg"
                      />
  
                      <div class="the-peoples-brownstone-container">
                        <p class="richard-and-gill">{{jva.jva_subtype}}</p>
                      </div>
                      <div class="abuja-lane-jabi-parent">
                        <img
                          class="frame-child73"
                          alt=""
                          src="../static/image/group-2149.svg"
                        />
  
                      </div>
                      <div id="shared_location" class="abuja-lane-jabi">{{jva.location}}</div>
                      <a style="margin-left: 70%;" href="{{ url_for('jva_details', jva_id=jva.id)}}">Click to see more details</a>

                      <div class="popular"></div>
                      <div class="popular1"></div>
                    </div>
                   
                  </div>
                </div>
               
              </div>
              {% endfor %}
              </div>
              </div>
          </div>
          
        </div>

        
      </div>
      <!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<section
class="relative bg-[url(https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)] bg-cover bg-center bg-no-repeat"
>
<div
  class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
></div>

<div
  class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
>
  <div id="hero" class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
    <h1 id="heroh1" class="text-white text-8xl font-extrabold sm:text-5xl" style="font-family: Cabinet Grotesk; font-size: 56px; font-weight: 400; line-height: 69.44px; text-align: left;">
      Easy way to find a
    </h1>
    <h1 id="hero" class="text-white text-8xl font-extrabold sm:text-5xl" style="font-family: Cabinet Grotesk; font-size: 56px; font-weight: 400; line-height: 69.44px; text-align: left;">
      perfect property
    </h1>
    <p id="herop" style="padding-left: 1%; line-height: 2rem; font-family: Cabinet Grotesk; font-size: 22px; font-weight: 400; text-align: left; width: 400; color: #510000;">
      We provide a complete service for the sale, purchase or rental of real estate.
    </p>
    
    <br><br>
    

   
  </div>
</div>
</section>
      
    
    </div>

    <script>
      var showMoreText = document.getElementById("showMoreText");
      if (showMoreText) {
        showMoreText.addEventListener("click", function (e) {
          window.location.href = "./category-opened.html";
        });
      }
      
      var frameContainer1 = document.getElementById("frameContainer1");
      if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
          // Please sync "View Property detailsDetails" to the project
        });
      }
      
      var frameContainer3 = document.getElementById("frameContainer3");
      if (frameContainer3) {
        frameContainer3.addEventListener("click", function (e) {
          // Please sync "View Property detailsDetails" to the project
        });
      }
      
      var jmsoltech1Image = document.getElementById("jmsoltech1Image");
      if (jmsoltech1Image) {
        jmsoltech1Image.addEventListener("click", function (e) {
          window.location.href = "./ListingLandingPage.html";
        });
      }
      
      var profilContainer = document.getElementById("profilContainer");
      if (profilContainer) {
        profilContainer.addEventListener("click", function (e) {
          window.location.href = "./dashboard.html";
        });
      }
      </script>
  </body>
</html>
