<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/profile2.css" />
    <link rel="stylesheet" href="../static/css/profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cabinet Grotesk:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="profile">
      <div class="ellipse-parent">
        <img class="ellipse-icon" alt="" src="../static/image/ellipse-16@2x.png" />

        <button class="phcamera-fill-wrapper">
          <img
            class="phcamera-fill-icon"
            alt=""
            src="../static/image/phcamerafill.svg"
          />
        </button>
      </div>
      <div class="personal-information">Personal Information</div>
      <form class="frame-form">
        <div class="text-field-parent">
          <div class="text-field">
            <div class="text-field1">
              <div class="state-layer">
                <div class="leading-icon">
                  <div class="container1">
                    <div class="state-layer1">
                      <img class="icon6" alt="" src="../static/image/icon1.svg" />
                    </div>
                  </div>
                </div>
                <div class="content2">
                  <input
                    class="placeholder-text"
                    placeholder="Patrick"
                    type="text"
                  />

                  <div class="label-text">
                    <div class="label-text1">First Name</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="supporting-text">
              <div class="supporting-text1">Supporting text</div>
            </div>
          </div>
          <div class="text-field2">
            <div class="text-field3">
              <div class="state-layer2">
                <div class="leading-icon1">
                  <div class="container2">
                    <div class="state-layer3">
                      <img class="icon7" alt="" src="../static/image/icon1.svg" />
                    </div>
                  </div>
                </div>
                <div class="content3">
                  <input
                    class="placeholder-text1"
                    placeholder="King"
                    type="text"
                  />

                  <div class="label-text2">
                    <div class="label-text3">Last Name</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="supporting-text2">
              <div class="supporting-text3">Supporting text</div>
            </div>
          </div>
        </div>
        <div class="text-field-group">
          <div class="text-field4">
            <div class="text-field5">
              <div class="state-layer4">
                <div class="leading-icon2">
                  <div class="container3">
                    <div class="state-layer5">
                      <img class="icon8" alt="" src="../static/image/icon-2.svg" />
                    </div>
                  </div>
                </div>
                <div class="content4">
                  <div class="placeholder-text2">
                    <div class="placeholder-text3"></div>
                  </div>
                  <input class="label-text4" placeholder="Street" type="text" />
                </div>
              </div>
            </div>
            <div class="supporting-text4">
              <div class="supporting-text5">Supporting text</div>
            </div>
          </div>
          <div class="text-field6">
            <div class="text-field7">
              <div class="state-layer6">
                <div class="leading-icon3">
                  <div class="container4">
                    <div class="state-layer7">
                      <img class="icon9" alt="" src="../static/image/icon-2.svg" />
                    </div>
                  </div>
                </div>
                <div class="content5">
                  <div class="placeholder-text4">
                    <div class="placeholder-text5"></div>
                  </div>
                  <input
                    class="label-text5"
                    placeholder="House Number"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="supporting-text6">
              <div class="supporting-text7">Optional</div>
            </div>
          </div>
        </div>
        <div class="text-field-container">
          <div class="text-field8">
            <div class="text-field9">
              <div class="state-layer8">
                <div class="leading-icon4">
                  <div class="container5">
                    <div class="state-layer9">
                      <img
                        class="solarphone-outline-icon"
                        alt=""
                        src="../static/image/solarphoneoutline.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="content6">
                  <input
                    class="placeholder-text6"
                    placeholder="00000000000000000"
                    type="text"
                  />

                  <div class="label-text6">
                    <div class="label-text7">
                      National Identification Number
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="supporting-text8">
              <div class="supporting-text9">Supporting text</div>
            </div>
          </div>
          <div class="uploaded-nin-slip-parent">
            <div class="uploaded-nin-slip">Uploaded NIN Slip</div>
            <div class="frame-child38"></div>
            <div class="frame-parent21">
              <div class="data-aggregator-wrapper">
                <div class="data-aggregator2">
                  <img
                    class="image-up-icon2"
                    loading="lazy"
                    alt=""
                    src="../static/image/imageup1.svg"
                  />
                </div>
              </div>
              <button class="button2">
                <div class="log-in2">View file</div>
              </button>
            </div>
          </div>
        </div>
        <div class="output-organizer">
          <div class="bio">Bio</div>
          <div class="frame-parent22">
            <div class="variable-holder-wrapper">
              <div class="variable-holder"></div>
            </div>
            <input
              class="i-am-a"
              placeholder="i am a realtor with 5 years expereince"
              type="text"
            />
          </div>
        </div>
        <div class="error-handler">
          <div class="contact-information">Contact Information</div>
          <div class="text-field10">
            <div class="text-field11">
              <div class="state-layer10">
                <div class="leading-icon5">
                  <div class="container6">
                    <div class="state-layer11">
                      <img
                        class="icoutline-email-icon"
                        alt=""
                        src="../static/image/icoutlineemail.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="content7">
                  <input
                    class="placeholder-text7"
                    placeholder="Patze@yahoo.com"
                    type="text"
                  />

                  <div class="label-text8">
                    <div class="data-update">Email Address</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="supporting-text10">
              <div class="supporting-text11">Supporting text</div>
            </div>
          </div>
          <div class="data-access">
            <div class="text-field12">
              <div class="text-field13">
                <div class="state-layer12">
                  <div class="leading-icon6">
                    <div class="container7">
                      <div class="state-layer13">
                        <img
                          class="solarphone-outline-icon1"
                          alt=""
                          src="../static/image/solarphoneoutline.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="content8">
                    <input
                      class="placeholder-text8"
                      placeholder="09123456789"
                      type="text"
                    />

                    <div class="label-text9">
                      <div class="value-transformer">Phone Number</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="supporting-text12">
                <div class="supporting-text13">Supporting text</div>
              </div>
            </div>
            <div class="text-field14">
              <div class="text-field15">
                <div class="state-layer14">
                  <div class="leading-icon7">
                    <div class="container8">
                      <div class="state-layer15">
                        <img
                          class="solarphone-outline-icon2"
                          alt=""
                          src="../static/image/solarphoneoutline.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="content9">
                    <input
                      class="placeholder-text9"
                      placeholder="08034567890"
                      type="text"
                    />

                    <div class="label-text10">
                      <div class="label-text11">Alternate Phone Number</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="supporting-text14">
                <div class="supporting-text15">Supporting text</div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-processor-chain">
          <div class="business-information">Business Information</div>
          <div class="text-field16">
            <div class="text-field17">
              <div class="state-layer16">
                <div class="label-text12">
                  <div class="label-text13">Business Name</div>
                </div>
                <img
                  class="rihome-office-line-icon"
                  alt=""
                  src="../static/image/rihomeofficeline.svg"
                />

                <input
                  class="placeholder-text10"
                  placeholder="Patze@yahoo.com"
                  type="text"
                />
              </div>
            </div>
            <div class="supporting-text16">
              <div class="supporting-text17">Supporting text</div>
            </div>
          </div>
          <div class="business-bio-please-include-a-parent">
            <div class="business-bio-please">
              Business Bio( Please Include Areas of specialties)
            </div>
            <div class="frame-parent23">
              <div class="rectangle-wrapper">
                <div class="frame-child39"></div>
              </div>
              <input
                class="my-business-has"
                placeholder="my business has over 5 years of satisfying customers"
                type="text"
              />
            </div>
          </div>
          <div class="output-processor-chain">
            <div class="text-field18">
              <div class="text-field19">
                <div class="state-layer17">
                  <div class="leading-icon8">
                    <div class="container9">
                      <div class="state-layer18">
                        <img
                          class="solarphone-outline-icon3"
                          alt=""
                          src="../static/image/solarphoneoutline.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="content10">
                    <input
                      class="placeholder-text11"
                      placeholder="09123456789"
                      type="text"
                    />

                    <div class="label-text14">
                      <div class="label-text15">Office Address</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="supporting-text18">
                <div class="supporting-text19">Supporting text</div>
              </div>
            </div>
            <div class="text-field20">
              <div class="text-field21">
                <div class="state-layer19">
                  <div class="leading-icon9">
                    <div class="container10">
                      <div class="state-layer20">
                        <img
                          class="solarphone-outline-icon4"
                          alt=""
                          src="../static/image/solarphoneoutline.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="content11">
                    <input
                      class="placeholder-text12"
                      placeholder="08034567890"
                      type="text"
                    />

                    <div class="label-text16">
                      <div class="label-text17">Phone Number</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="supporting-text20">
                <div class="supporting-text21">Supporting text</div>
              </div>
            </div>
          </div>
          <div class="text-field-parent1">
            <div class="text-field22">
              <div class="text-field23">
                <div class="state-layer21">
                  <div class="leading-icon10">
                    <div class="container11">
                      <div class="state-layer22">
                        <img
                          class="solarphone-outline-icon5"
                          alt=""
                          src="../static/image/solarphoneoutline.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="content12">
                    <input
                      class="placeholder-text13"
                      placeholder="00000000000000000"
                      type="text"
                    />

                    <div class="label-text18">
                      <div class="label-text19">CAC RN Number</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="supporting-text22">
                <div class="supporting-text23">Supporting text</div>
              </div>
            </div>
            <div class="upload-cac-document-parent">
              <div class="upload-cac-document">Upload CAC Document</div>
              <div class="frame-child40"></div>
              <div class="frame-parent24">
                <div class="frame-wrapper14">
                  <div class="image-up-frame">
                    <img
                      class="image-up-icon3"
                      loading="lazy"
                      alt=""
                      src="../static/image/imageup1.svg"
                    />
                  </div>
                </div>
                <button class="button3">
                  <div class="log-in3">View file</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="agric-parent">
        <div class="agric">
          <img
            class="tableruser-filled-icon"
            alt=""
            src="../static/image/tableruserfilled.svg"
          />

          <div class="wishlists">Wishlists</div>
          <img
            class="mingcutedown-line-icon"
            alt=""
            src="../static/image/mingcutedownline.svg"
          />
        </div>
        <div class="agric1">
          <img
            class="tableruser-filled-icon1"
            alt=""
            src="../static/image/tableruserfilled.svg"
          />

          <div class="my-orders">My Orders</div>
          <img
            class="mingcutedown-line-icon1"
            alt=""
            src="../static/image/mingcutedownline.svg"
          />
        </div>
        <button class="tableruser-filled-parent">
          <img
            class="tableruser-filled-icon2"
            alt=""
            src="../static/image/tableruserfilled.svg"
          />

          <div class="profile1">Profile</div>
          <img
            class="mingcutedown-line-icon2"
            alt=""
            src="../static/image/mingcutedownline.svg"
          />
        </button>
        <div class="tableruser-filled-group">
          <img
            class="tableruser-filled-icon3"
            alt=""
            src="../static/image/tableruserfilled.svg"
          />

          <div class="messages">Messages</div>
          <img
            class="mingcutedown-line-icon3"
            alt=""
            src="../static/image/mingcutedownline.svg"
          />
        </div>
        <button class="tableruser-filled-container" id="frameButton2">
          <img
            class="tableruser-filled-icon4"
            alt=""
            src="../static/image//tableruserfilled.svg"
          />

          <div class="settings">Settings</div>
          <img
            class="mingcutedown-line-icon4"
            alt=""
            src="../static/image/mingcutedownline.svg"
          />
        </button>
        <button class="tableruser-filled-parent1">
          <img
            class="tableruser-filled-icon5"
            alt=""
            src="../static/image/tableruserfilled.svg"
          />

          <div class="log-out">Log Out</div>
          <img
            class="mingcutedown-line-icon5"
            alt=""
            src="../static/image/mingcutedownline.svg"
          />
        </button>
      </div>
      <section class="div6">
        <img
          class="jmsoltech-1-icon2"
          alt=""
          src="../static/image/jmsoltech-1@2x.png"
          id="jmsoltech1Image"
        />

        <div class="profil2">
          <img
            class="avatar-icon2"
            loading="lazy"
            alt=""
            src="../static/image/avatar@2x.png"
          />

          <div class="shape-container">
            <div class="content13">
              <div class="overline3">Realtor</div>
              <div class="title3">Andrew Smith</div>
            </div>
          </div>
        </div>
      </section>
      <div class="sidebar-1">
        <div class="navigation3">
          <div class="link7" id="linkContainer">
            <img
              class="icon-home-simple-door1"
              loading="lazy"
              alt=""
              src="../static/image/icon--homesimpledoor.svg"
            />

            <div class="label7">Dashboard</div>
          </div>
          <div class="link8" id="linkContainer1">
            <img
              class="icon-page2"
              loading="lazy"
              alt=""
              src="../static/image/icon--page.svg"
            />

            <div class="label8">My Property</div>
          </div>
          <div class="link9" id="linkContainer2">
            <img
              class="icon-user-11"
              loading="lazy"
              alt=""
              src="../static/image/icon--user-1.svg"
            />

            <div class="label9">Verification</div>
          </div>
          <div class="link10" id="linkContainer3">
            <img
              class="icon-page3"
              loading="lazy"
              alt=""
              src="../static/image/icon--page.svg"
            />

            <div class="label10">Listings</div>
          </div>
        </div>
        <div class="divider2"></div>
        <div class="navigation4">
          <div class="title4">
            <div class="overline4">Settings</div>
          </div>
          <div class="link11" id="linkContainer">
            <img
              class="icon-settings1"
              loading="lazy"
              alt=""
              src="../static/image/icon--settings.svg"
            />

            <div class="label11">Settings</div>
          </div>
          <div class="navigation5">
            <div class="link12">
              <img
                class="icon-help-circle1"
                loading="lazy"
                alt=""
                src="../static/image/icon--helpcircle.svg"
              />

              <div class="label12">Help</div>
            </div>
            <div class="link13">
              <img
                class="icon-log-out1"
                loading="lazy"
                alt=""
                src="../static/image/icon--logout.svg"
              />

              <div class="label13">Logout Account</div>
            </div>
          </div>
        </div>
      </div>
      <div class="brush-manager" id="brushManagerContainer">
        <img
          class="iconamoonedit-thin"
          loading="lazy"
          alt=""
          src="../static/image/iconamooneditthin.svg"
        />

        <div class="edit-profile">Edit Profile</div>
      </div>
    </div>

    <script>
      var frameButton2 = document.getElementById("frameButton2");
      if (frameButton2) {
        frameButton2.addEventListener("click", function (e) {
          // Please sync "Settings" to the project
        });
      }
      
      var jmsoltech1Image = document.getElementById("jmsoltech1Image");
      if (jmsoltech1Image) {
        jmsoltech1Image.addEventListener("click", function (e) {
          // Please sync "Listing landing page" to the project
        });
      }
      
      var linkContainer = document.getElementById("linkContainer");
      if (linkContainer) {
        linkContainer.addEventListener("click", function (e) {
          // Please sync "dashboard" to the project
        });
      }
      
      var linkContainer1 = document.getElementById("linkContainer1");
      if (linkContainer1) {
        linkContainer1.addEventListener("click", function (e) {
          // Please sync "My Property" to the project
        });
      }
      
      var linkContainer2 = document.getElementById("linkContainer2");
      if (linkContainer2) {
        linkContainer2.addEventListener("click", function (e) {
          // Please sync "land verification( uy BNow)" to the project
        });
      }
      
      var linkContainer3 = document.getElementById("linkContainer3");
      if (linkContainer3) {
        linkContainer3.addEventListener("click", function (e) {
          // Please sync " Listings" to the project
        });
      }
      
      var linkContainer = document.getElementById("linkContainer");
      if (linkContainer) {
        linkContainer.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var brushManagerContainer = document.getElementById("brushManagerContainer");
      if (brushManagerContainer) {
        brushManagerContainer.addEventListener("click", function (e) {
          // Please sync "Edit profile" to the project
        });
      }
      </script>
  </body>
</html>
