<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/property_details.css" />
    <link rel="stylesheet" href="../static/css/property_details2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cabinet Grotesk:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400;600&display=swap"

    />
    <link href="https://fonts.cdnfonts.com/css/cabinet-grotesk" rel="stylesheet">
  </head>
  <body>
    <div class="view-property-detailsdetails">
      <header class="div">
        <img
          class="jmsoltech-1-icon"
          alt=""
          src="../static/image/jmsoltech-1@2x.png"
          id="jmsoltech1Image"
        />

        <div class="profil" id="profilContainer">
          <img
            class="avatar-icon"
            loading="lazy"
            alt=""
            src="../static/image/avatar@2x.png"
          />

          <div class="content-wrapper">
            <div class="content">
              <div class="overline">View Dashboard</div>
              <div class="title">Andrew Smith</div>
            </div>
          </div>
        </div>
      </header>
      <section class="desktop-13">
        <div class="image-5-parent">
          <img
            class="image-5-icon"
            loading="lazy"
            alt=""
            src="../static/image/image5.png"
          />

          <div class="line-wrapper">
            <div class="frame-child"></div>
          </div>
        </div>
        <div class="frame-parent">
          <div class="frame-group">
            <div class="frame-container">
              <button class="slightly-negotiable-wrapper">
                <div class="slightly-negotiable">Slightly Negotiable</div>
              </button>
              <!-- <img src="../static/image/Frame 26085668 (1)" alt=""> -->
              <div class="preview-wrapper">
                <b class="preview">Preview</b>
              </div>
            </div>
            <div class="no-reviews-instance">
              <img
                class="icbaseline-favorite-icon"
                loading="lazy"
                alt=""
                src="../static/image/icbaselinefavorite.svg"
              />
            </div>
          </div>
          <div class="frame-div">
            <div class="iconamoonarrow-left-2-wrapper">
              <img
                class="iconamoonarrow-left-2"
                loading="lazy"
                alt=""
                src="../static/image/iconamoonarrowleft2.svg"
              />
            </div>
            <div class="frame-parent1">
              <div class="frame-parent2">
                <img
                  class="frame-item"
                  loading="lazy"
                  alt=""
                  src="../static/image/frame-26085681@2x.png"
                />

                <img
                  class="frame-inner"
                  loading="lazy"
                  alt=""
                  src="../static/image/frame-26085681@2x.png"
                />

                <img
                  class="frame-icon"
                  loading="lazy"
                  alt=""
                  src="../static/image/frame-26085681@2x.png"
                />

                <img
                  class="frame-child1"
                  loading="lazy"
                  alt=""
                  src="../static/image/frame-26085681@2x.png"
                />

                <img
                  class="iconamoonarrow-right-2-duoton"
                  loading="lazy"
                  alt=""
                  src="../static/image/iconamoonarrowright2duotone.svg"
                />
              </div>
              <div class="terraced-duplex-for-sale-parent">
                <h3 class="terraced-duplex-for">Terraced duplex for Sale</h3>
                <div class="bedroom-terraced-duplex">
                  4bedroom terraced duplex with a room bq in an estate off
                  guzape road, maitama, Abuja.
                </div>
                <div class="ngn-400000000-parent">
                  <b class="ngn-400000000">NGN 400,000,000</b>
                  <div class="cadland-properties">Cadland Properties</div>
                  <div class="rc-registeration-rc41234567">
                    RC Registeration: RC41234567
                  </div>
                  <div class="registered-3-months">
                    Registered: 3 Months ago
                  </div>
                  <div class="star-rating-5">Star Rating: 5</div>
                  <div class="reviews-100">Reviews: 100</div>
                </div>
                <div class="contact-details-081658-container">
                  <span class="contact-details-081658-container1">
                    <span>
                      <span>Contact Details:</span>
                      <span class="span"> </span>
                    </span>
                    <span class="span1">
                      <b>081658********</b>
                    </span>
                  </span>
                </div>
                <div class="view-all-properties" id="viewAllProperties">
                  View all properties by this agent
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="view-property-detailsdetails-inner">
        <div class="frame-parent3">
          <div class="precautionary-tip-do-not-make-wrapper">
            <div class="precautionary-tip-do-container">
              <span>
                <p class="precautionary-tip">
                  <b class="precautionary-tip1">Precautionary Tip</b>
                </p>
                <p class="blank-line">
                  <b class="blank-line1">&nbsp;</b>
                </p>
                <ol class="do-not-make-any-inspection-fee">
                  <li class="do-not-make-any-inspection-fee1">
                    <span class="do-not-make"
                      >Do not make any inspection fee without seeing the agent
                      and property.</span
                    >
                  </li>
                  <li class="only-pay-rental-fee-sales-fee">
                    <span class="only-pay-rental"
                      >Only pay Rental fee, Sales fee or any upfront payment
                      after you verify the Landlord.</span
                    >
                  </li>
                  <li class="ensure-you-meet-the-agent-in-a">
                    <span class="ensure-you-meet"
                      >Ensure you meet the Agent in an open location.</span
                    >
                  </li>
                  <li>
                    <span class="the-agent-does"
                      >The Agent does not represent Landbank and Landbank is not
                      liable for any monetary transaction between you and the
                      Agent.</span
                    >
                  </li>
                </ol>
              </span>
            </div>
          </div>
          <div class="no-reviews-wrapper">
            <div class="no-reviews">
              <div class="frame-parent4">
                <button class="description-wrapper">
                  <div class="description">Description</div>
                </button>
                <button class="additional-information-wrapper">
                  <div class="additional-information">
                    Additional Information
                  </div>
                </button>
                <button class="review-wrapper">
                  <div class="review">Review</div>
                </button>
              </div>
              <div class="no-reviews-inner">
                <div class="frame-parent5">
                  <div class="frame-parent6">
                    <div class="property-details-parent">
                      <h3 class="property-details">Property Details</h3>
                      <div class="bedroom-terraced-duplex1">
                        4bedroom terraced duplex with a room bq in an estate off
                        guzape road, maitama, Abuja. Newly Built and furnished,
                        come with a BQ
                      </div>
                      <div class="bedroom-terraced-duplex2">
                        4bedroom terraced duplex with a room bq in an estate off
                        guzape road, maitama, Abuja. Newly Built and furnished,
                        come with a BQ
                      </div>
                      <div class="bedroom-terraced-duplex3">
                        4bedroom terraced duplex with a room bq in an estate off
                        guzape road, maitama, Abuja. Newly Built and furnished,
                        come with a BQ
                      </div>
                    </div>
                    <div class="bathrooms-en-suite-parent">
                      <div class="bathrooms-en-suite">4 Bathrooms en suite</div>
                      <div class="spacious-bq-and">
                        Spacious BQ and gateman house
                      </div>
                      <div class="toilets-including-guest">
                        6 toilets including guest toilet for sitting rooms
                      </div>
                      <div class="car-parking-space">12 car parking space</div>
                      <div class="asking-price-ngn400000000-container">
                        <span>
                          <span>
                            <span>Asking Price:</span>
                          </span>
                          <b class="ngn400000000-slightly-nego">
                            <span> </span>
                            <span>NGN400,000,000 ( Slightly Negotiable)</span>
                          </b>
                        </span>
                      </div>
                      <div class="ownership-type-personal-container">
                        <span class="ownership-type-personal-container1">
                          <span>Ownership Type: </span>
                          <span class="personal">Personal</span>
                        </span>
                      </div>
                    </div>
                    <div class="precaution-tip-parent">
                      <div class="precaution-tip">
                        <div class="posted-by">Posted By</div>
                        <div class="cadland-properties-parent">
                          <div class="cadland-properties1">
                            Cadland Properties
                          </div>
                          <div class="rc-registeration-rc412345671">
                            RC Registeration: RC41234567
                          </div>
                          <div class="registered-3-months1">
                            Registered: 3 Months ago
                          </div>
                          <div class="star-rating-51">Star Rating: 5</div>
                          <div class="reviews-1001">Reviews: 100</div>
                          <div class="contact-details-081658">
                            Contact Details: 081658********
                          </div>
                          <div
                            class="view-all-properties1"
                            id="viewAllProperties1"
                          >
                            View all properties by this agent
                          </div>
                        </div>
                      </div>
                      <div class="bedroom-property"></div>
                    </div>
                  </div>
                  <div class="instance-parent">
                    <button class="frame-wrapper">
                      <div class="component-6-parent">
                        <img
                          class="component-6-icon"
                          alt=""
                          src="../static/image/component-6.svg"
                        />

                        <div class="share-icon">
                          <div class="buy-now">Save Property</div>
                        </div>
                      </div>
                    </button>
                    <button class="frame-button">
                      <div class="component-6-group">
                        <img
                          class="component-6-icon1"
                          alt=""
                          src="../static/image/component-6.svg"
                        />

                        <div class="buy-now-wrapper">
                          <div class="buy-now1">Buy Now</div>
                        </div>
                      </div>
                    </button>
                    <button class="cadland-properties-info-wrapper">
                      <div class="cadland-properties-info">
                        <img
                          class="material-symbols-lightshare-icon"
                          alt=""
                          src="../static/image/materialsymbolslightshare.svg"
                        />

                        <div class="contact-button">
                          <div class="share">Share</div>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script>
      var jmsoltech1Image = document.getElementById("jmsoltech1Image");
      if (jmsoltech1Image) {
        jmsoltech1Image.addEventListener("click", function (e) {
          // Please sync "Listing landing page" to the project
        });
      }
      
      var profilContainer = document.getElementById("profilContainer");
      if (profilContainer) {
        profilContainer.addEventListener("click", function (e) {
          // Please sync "dashboard" to the project
        });
      }
      
      var viewAllProperties = document.getElementById("viewAllProperties");
      if (viewAllProperties) {
        viewAllProperties.addEventListener("click", function (e) {
          // Please sync "View agent property profile" to the project
        });
      }
      
      var viewAllProperties1 = document.getElementById("viewAllProperties1");
      if (viewAllProperties1) {
        viewAllProperties1.addEventListener("click", function (e) {
          // Please sync "View agent property profile" to the project
        });
      }
      </script>
  </body>
</html>
