<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Developer Signup</h1>
    <form method="post" action="{{ url_for('developer_signup', user_id=user.id) }}">
        <label for="company_name">Company Name:</label>
        <input type="text" name="company_name"><br>

        <label for="company_registration_number">Company Registration Number:</label>
        <input type="text" name="company_registration_number"><br>

        <label for="company_location">Company Location:</label>
        <input type="text" name="company_location"><br>

        <label for="facebook_link">Facebook Link:</label>
        <input type="text" name="facebook_link"><br>

        <label for="instagram_link">Instagram Link:</label>
        <input type="text" name="instagram_link"><br>

        <label for="developer_description">Developer Description:</label>
        <textarea name="developer_description"></textarea><br>

        <button type="submit">Signup</button>
    </form>
</body>
</html>
